apiVersion: platform.livewyer.io/v1alpha1
kind: SeedInfrastructureClaim
metadata:
  name: seed-default
spec:
  compositionRef:
    name: seed-infrastructure
  parameters:
    domain: example.com
    resourceGroup: rg-example
    keyVaultName: kv-example
    location: westeurope
    tenantId: 00000000-0000-0000-0000-000000000000
    clientId: 00000000-0000-0000-0000-000000000000
    clientSecret: replace-me
    subscriptionId: 00000000-0000-0000-0000-000000000000
    clusterName: aks-example
    clusterOidcIssuerUrl: https://eastus.oic.prod-aks.azure.com/tenant/issuer
    wildcardAddress: 127.0.0.1
    configSecretName: cnoe-config
    clusterConnectionSecretName: cnoe-kubeconfig
    appsetChartRepository: https://example.com/helm
    appsetChartName: appset
    appsetChartVersion: 0.1.0
    repoUrl: https://github.com/example-org/reference-implementation-azure
    repoRevision: main
    repoBasePath: packages
    pathRouting: 'false'
    letsencryptEnv: prod
    githubAppId: '0'
    githubAppInstallationId: '0'
    githubOrgUrl: https://github.com/example-org
    githubClientId: ''
    githubClientSecret: ''
    githubWebhookUrl: ''
    githubWebhookSecret: ''
    githubPrivateKey: ''
