# Copy this file to seed/user-secrets.yaml and populate the fields below.
# `stringData` avoids manual base64 encoding; kubectl will encode automatically.

apiVersion: v1
kind: Secret
metadata:
  name: azure-service-principal
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "clientId": "<GUID>",
      "clientSecret": "<SECRET>",
      "tenantId": "<GUID>",
      "subscriptionId": "<GUID>"
    }
